<div class="container rounded" style="min-width: 95%;">
  <div class="row">
    <div class="col-1">Saatavuus</div>
    <div class="col-3">Nimi</div>
    <div class="col-2">Tyyppi</div>
    <div class="col-1">Pullokoko</div>
    <div class="col-1">%-Alkoholia</div>
    <div class="col-1">Pakkaustyyppi</div>
    <div class="col-1">Hinta</div>
    <div class="col-1">Litrahinta</div>
    <div class="col-1">1L - C<sub>2</sub>H<sub>6</sub>O</div>
  </div>
  <div class="row" style="background-color: #a0beac3d; margin-bottom: 2px;"
       *ngFor="let alcoholProduct of alkoService.getProductsOnPage(alkoService.activePage)">

    <ng-container *ngIf="alkoService.enabledCategories.indexOf(alcoholProduct.Tyyppi) !== -1 && alcoholProduct.EurPerLAlkohol > 30"><!--EurPerLAlkohol > 30 | Removes the broken products-->
      <div class="col-xs-12 col-1" style="text-align: left;">
        <span style="color: green;" *ngIf="alkoService.availabilityObj[alcoholProduct.Numero]">Saatavilla</span>
        <span style="color: red;" *ngIf="!alkoService.availabilityObj[alcoholProduct.Numero]">Ei Saatavilla</span>
      </div>
      <div class="col-3" style="text-align: left;">
        <!--<img src="{{'https://images.alko.fi/images/cs_srgb,f_auto,t_products/cdn/' + alcoholProduct.Numero + '/a.jpg'}}">-->
        <a style="color: black; text-decoration:none;" href="{{'https://www.alko.fi/tuotteet/' + alcoholProduct.Numero}}">
          {{alcoholProduct.Nimi}}
        </a>
      </div>
      <div class="col-2" *ngIf="alcoholProduct.Tyyppi !== 'Jälkiruokaviinit, väkevöidyt ja muut viinit'">{{alcoholProduct.Tyyppi}}</div>
      <div class="col-2" *ngIf="alcoholProduct.Tyyppi === 'Jälkiruokaviinit, väkevöidyt ja muut viinit'">Jälkiruokaviinit ja muut</div>

      <div class="col-1">{{alcoholProduct.Pullokoko}}L</div>
      <div class="col-1">{{alcoholProduct.ProsAlkohol}}%</div>
      <div class="col-1">{{alcoholProduct.Pakkaustyyppi}}</div>
      <div class="col-1">{{alcoholProduct.Hinta}}€</div>
      <div class="col-1">{{alcoholProduct.Litrahinta}}€/L</div>
      <div class="col-1">{{alcoholProduct.EurPerLAlkohol}}€/L</div>
    </ng-container>
  </div>
</div>
