<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Alko.svg" width="30" height="30" class="d-inline-block align-top" alt="">holismi
    </a>
    <span style="float:right;">
      <span style="margin-right: 20px;">{{alkoService.selectedAlko}}</span>
      <a style="margin-right: 20px;" href="#" class="alert-link" data-toggle="modal" data-target="#myModal">Valitse alko</a>
      <a href="#" class="alert-link" (click)="alkoService.mobileEnabled = !alkoService.mobileEnabled;">Mobiiliversio</a>
    </span>
  </nav>

  <app-alkolist></app-alkolist>
  Tämän nettisivun on koodastellut Otto Lähepelto 12.7.2018. <a href="https://github.com/olahepelto/alko-app">Github
  projekti</a>
</div>
