<div class="alert alert-success" role="alert">
  <h5 class="alert-heading">Raaputettu {{alkoService.lastFileUpdate}}</h5>
  <p>Jokainen alkon tuote järjestettynä halvimmasta kännistä kalleimpaan. Tuotteet ja saatavuus raaputetaan alkon sivuilta päivittäin.</p>
</div>
<div class="alert alert-warning" *ngIf="alkoService.selectedAlko == undefined">
  <p><strong>Huom!</strong> Saatavuustietoja varten sinun pitää valita alkon toimipiste. <a href="#" class="alert-link"
                                                                                            data-toggle="modal"
                                                                                            data-target="#myModal">Valitse alko</a></p>
</div>
<hr>

<!-- Modal -->
<div style="height: 50px;" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="opacity: 1;">
  <div class="modal-dialog" role="document" style="transform: translate(0,5%);">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Valitse Alko</h4>
      </div>
      <div class="container">
          <div class="row">
            <div class="container" style="max-width: 300px; margin-top: 10px;">
              <input type="text" class="form-control" placeholder="Haku" (keyup)="searchChange($event)">
            </div>
          </div>
        </div>
      <div class="modal-body" style="overflow-y:scroll; height:300px;">
        <ng-container *ngFor="let alkoStore of alkoService.alko_stores">
            <a href="#" (click)="alkoService.setSelectedAlko(alkoStore)" data-dismiss="modal"
            *ngIf="alkoStore.alkoSearchContent == '' || alkoStore.toLowerCase().indexOf(alkoService.alkoSearchContent.toLowerCase()) != -1">
              {{alkoStore}}<br>
            </a>
        </ng-container>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngFor="let category of categories">
  <button style="margin-top: 12px;" type="button" class="btn btn-primary"
          [ngClass]="{ 'btn-primary': this.alkoService.enabledCategories.indexOf(category.cat[0]) !== -1, 'btn-outline-primary': this.alkoService.enabledCategories.indexOf(category.cat[0]) === -1 }"
          (click)="categoryButtonClicked(category.cat)">{{category.name}}
  </button>&nbsp;
</ng-container>
<hr>


<app-product-search></app-product-search>
<app-pagination></app-pagination>

<app-alkolist-desktop *ngIf="!alkoService.mobileEnabled && !alkoService.betaEnabled"></app-alkolist-desktop>
<app-alkolist-mobile *ngIf="alkoService.mobileEnabled && !alkoService.betaEnabled"></app-alkolist-mobile>
<app-alkolist-beta *ngIf="alkoService.betaEnabled"></app-alkolist-beta>
